body {
    background-color: #fce9e8;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

header {
    height: 5rem;
    width: 100vw;
    background-color: $color-rosamenu;


    .navbar-menu {
        height: 5rem;
        display: flex;
        width: 100vw;
        padding: clamp(20px, 10vw, 40px);
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        .menu-logo {
            
            img {
                margin-top: 0.5rem;
                width: 13rem;
            }
        }
       
        .menu-label {
            display: none;
        }

        .menu-input {
            display: none;
        }

        .menu-ul {
            display: grid;
            gap: 3rem;
            grid-auto-flow: column;
           
            .menu-item {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 1050px) and (min-width: 1001px) {
     .navbar-menu {
        width: 100vw;
            
        .menu-logo {
            img {
                width: 10rem; 
            }
        }

        .menu-label {
            display: none;
        }

        .menu-input {
            display: none;
        }

        .menu-ul {
            display: grid;
            gap: 2rem;
            grid-auto-flow: column;
           
            .menu-item {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (max-width: 1000px) and (min-width: 391px) {

    header {
        height: 5rem;

        .navbar-menu {
            width: 100vw;
            height: 5rem;
                
            .menu-logo {
                img {
                    width: 9rem; 
                }
            }
        
            .menu-label {
                display: block;
                cursor: pointer;
            }

            .menu-input:checked + .menu-ul {
                clip-path: circle(100% at center);
            }

            .menu-ul {
                position: fixed;
                top: 80px;
                bottom: 0;
                width: 100%;
                background-color: #97a7ce;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path 1s ease-in-out;
                padding-top: 4rem;
                gap: 3rem;
                        
                .menu-item {
                    a {
                        font-weight: 600px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }    
}  

@media (max-width: 390px) and (min-width: 361px) {

    header {
        height: 4.5rem;

        .navbar-menu {
            width: 100vw;
            height: 4.5rem;
                
            .menu-logo {
                img {
                    width: 8rem; 
                }
            }
        
            .menu-label {
                display: block;
                cursor: pointer;
                
            }

            .menu-input:checked + .menu-ul {
                clip-path: circle(100% at center);
            }

            .menu-ul {
                position: fixed;
                top: 72px;
                bottom: 0;
                width: 100%;
                background-color: #97a7ce;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path 1s ease-in-out;
                padding-top: 4rem;
                gap: 3rem;
                        
                .menu-item {
                    a {
                        font-weight: 600px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }    
}    

@media (max-width: 360px) and (min-width: 300px){

    header {
        height: 4.3rem;
        width: 100vw;
    
        .navbar-menu {
            width: 100vw;
            height: 4.3rem;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

       
            .menu-logo {
                   img {
                    width: 8rem; 
                    margin-right: 7rem;
                }
            }
        
            .menu-label {
                display: block;
                cursor: pointer;
                
               
            }

            .menu-input:checked + .menu-ul {
                clip-path: circle(100% at center);
            }

            .menu-ul {
                position: fixed;
                top: 68px;
                bottom: 0;
                width: 100%;
                background-color: #97a7ce;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path 1s ease-in-out;
                padding-top: 4rem;
                gap: 3rem;
                        
                .menu-item {
                    a {
                        font-weight: 600;
                        font-size: 1.5rem;
                    }
                }
            }
        }  
    }
}


