@charset "UTF-8";
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*COLORES*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fce9e8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

header {
  height: 5rem;
  width: 100vw;
  background-color: #ffc0cb;
}
header .navbar-menu {
  height: 5rem;
  display: flex;
  width: 100vw;
  padding: clamp(20px, 10vw, 40px);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
header .navbar-menu .menu-logo img {
  margin-top: 0.5rem;
  width: 13rem;
}
header .navbar-menu .menu-label {
  display: none;
}
header .navbar-menu .menu-input {
  display: none;
}
header .navbar-menu .menu-ul {
  display: grid;
  gap: 3rem;
  grid-auto-flow: column;
}
header .navbar-menu .menu-ul .menu-item {
  list-style-type: none;
}
header .navbar-menu .menu-ul .menu-item a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
}

@media (max-width: 1050px) and (min-width: 1001px) {
  .navbar-menu {
    width: 100vw;
  }
  .navbar-menu .menu-logo img {
    width: 10rem;
  }
  .navbar-menu .menu-label {
    display: none;
  }
  .navbar-menu .menu-input {
    display: none;
  }
  .navbar-menu .menu-ul {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
  }
  .navbar-menu .menu-ul .menu-item {
    list-style-type: none;
  }
  .navbar-menu .menu-ul .menu-item a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.1rem;
  }
}
@media (max-width: 1000px) and (min-width: 391px) {
  header {
    height: 5rem;
  }
  header .navbar-menu {
    width: 100vw;
    height: 5rem;
  }
  header .navbar-menu .menu-logo img {
    width: 9rem;
  }
  header .navbar-menu .menu-label {
    display: block;
    cursor: pointer;
  }
  header .navbar-menu .menu-input:checked + .menu-ul {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  header .navbar-menu .menu-ul {
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    background-color: #97a7ce;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    padding-top: 4rem;
    gap: 3rem;
  }
  header .navbar-menu .menu-ul .menu-item a {
    font-weight: 600px;
    font-size: 1.5rem;
  }
}
@media (max-width: 390px) and (min-width: 361px) {
  header {
    height: 4.5rem;
  }
  header .navbar-menu {
    width: 100vw;
    height: 4.5rem;
  }
  header .navbar-menu .menu-logo img {
    width: 8rem;
  }
  header .navbar-menu .menu-label {
    display: block;
    cursor: pointer;
  }
  header .navbar-menu .menu-input:checked + .menu-ul {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  header .navbar-menu .menu-ul {
    position: fixed;
    top: 72px;
    bottom: 0;
    width: 100%;
    background-color: #97a7ce;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    padding-top: 4rem;
    gap: 3rem;
  }
  header .navbar-menu .menu-ul .menu-item a {
    font-weight: 600px;
    font-size: 1.5rem;
  }
}
@media (max-width: 360px) and (min-width: 300px) {
  header {
    height: 4.3rem;
    width: 100vw;
  }
  header .navbar-menu {
    width: 100vw;
    height: 4.3rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navbar-menu .menu-logo img {
    width: 8rem;
    margin-right: 7rem;
  }
  header .navbar-menu .menu-label {
    display: block;
    cursor: pointer;
  }
  header .navbar-menu .menu-input:checked + .menu-ul {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  header .navbar-menu .menu-ul {
    position: fixed;
    top: 68px;
    bottom: 0;
    width: 100%;
    background-color: #97a7ce;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    padding-top: 4rem;
    gap: 3rem;
  }
  header .navbar-menu .menu-ul .menu-item a {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
main .hero-container {
  background-color: #FCE9E8;
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  top: 0;
}
main .hero-container .background-container {
  background-image: url(../src/img/02c.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 91vh;
  flex-wrap: wrap;
  padding-bottom: 18.6rem;
}
main .hero-container .background-container h1 {
  color: #2f1c3a;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 18rem;
  margin-bottom: 5rem;
  margin-left: 4rem;
}
main .hero-container .background-container h1 .letter-unsere {
  display: flex;
  height: 4rem;
  font-size: 4rem;
  margin-top: 2.5rem;
}
main .hero-container .background-container h1 .letter-kinder {
  display: flex;
  height: 4rem;
  font-size: 6.5rem;
  padding-left: 1rem;
}
main .hero-container .background-container h1 .letter-welt {
  display: flex;
  height: 4rem;
  font-size: 6.5rem;
  padding-left: 1rem;
}
main .hero-container .background-container .hero-paragraph {
  color: var(--color-violeta);
  font-size: 1.3rem;
  width: 750px;
  line-height: 1.5;
  margin-left: 4.5rem;
}
main .hero-container .background-container .hero-pinkboton {
  display: flex;
  background-image: url(../src/img/base_botonrosa.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 3rem;
  width: 9.5rem;
  margin-top: 1rem;
  margin-left: 4rem;
  flex-wrap: wrap;
}
main .hero-container .background-container .hero-pinkboton .hero-textboton {
  font-family: var(--font-monserrat-regular);
  font-size: 1.1rem;
  color: white;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
  text-decoration: none;
}
main .hero-container .background-container .hero-pinkboton .hero-textboton:hover {
  color: #2f1c3a;
}
main .hero-container .background-container .hero-pinkboton .hero-textboton:hover:visited {
  color: #2f1c3a;
}
main .hero-container .background-container .hero-pinkboton menu-container label {
  display: none;
}

@media (max-width: 1440px) and (min-width: 1367px) {
  main .hero-container .background-container {
    padding-bottom: 16rem;
  }
  main .hero-container .background-container h1 {
    margin-top: 12rem;
    margin-bottom: 3.5rem;
    margin-left: 3rem;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 4rem;
    margin-top: 1.4rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 5.5rem;
    padding-left: 1rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 6.5rem;
    padding-left: 0.5rem;
  }
  main .hero-container .background-container .hero-paragraph {
    width: 650px;
    margin-left: 3.5rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    margin-left: 3rem;
  }
}
@media (max-width: 1366px) and (min-width: 1001px) {
  main .hero-container .background-container {
    background-image: url(../src/img/02d-tablet.png);
    padding-bottom: 16rem;
  }
  main .hero-container .background-container h1 {
    margin-top: 9rem;
    margin-bottom: 2.7rem;
    margin-left: 3rem;
    width: 700px;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 3.5rem;
    margin-top: 1.4rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 5rem;
    padding-left: 1rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 5.5rem;
    padding-left: 0.5rem;
  }
  main .hero-container .background-container .hero-paragraph {
    width: 650px;
    margin-left: 3.5rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    margin-left: 3rem;
  }
}
@media (max-width: 1000px) and (min-width: 376px) {
  main .hero-container .background-container {
    background-image: url(../src/img/02e-cel720x1280v2.png);
    height: 100vh;
  }
  main .hero-container .background-container h1 {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.8rem;
    width: 600px;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 3.5rem;
    margin-top: 1.4rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 5rem;
    padding-left: 1rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 5rem;
    padding-left: 0;
  }
  main .hero-container .background-container .hero-paragraph {
    width: 550px;
    margin-left: 3.2rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    margin-left: 3.1rem;
  }
}
@media (max-width: 720px) and (min-width: 650px) {
  main .hero-container .background-container {
    background-image: url(../src/img/02e-cel720x1280v2.png);
    height: 126vh;
  }
  main .hero-container .background-container h1 {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    margin-left: 2.8rem;
    width: 500px;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 3rem;
    margin-top: 1.4rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 4.5rem;
    padding-left: 1rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 4.5rem;
    padding-left: 0;
  }
  main .hero-container .background-container .hero-paragraph {
    width: 550px;
    margin-left: 3.2rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    margin-left: 3.1rem;
  }
}
@media (max-width: 649px) and (min-width: 540px) {
  main .hero-container .background-container {
    background-image: url(../src/img/02e-cel720x1280v2.png);
    height: 120vh;
  }
  main .hero-container .background-container h1 {
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    margin-left: 3.5rem;
    width: 450px;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 3rem;
    margin-top: 1.5rem;
    height: 3.5rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 4.5rem;
    padding-left: 0.7rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 4.5rem;
    padding-left: 0;
  }
  main .hero-container .background-container .hero-paragraph {
    width: 420px;
    font-size: 1rem;
    margin-left: 3.8rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    margin-left: 3.5rem;
  }
}
@media (max-width: 539px) and (min-width: 421px) {
  main .hero-container .background-container {
    background-image: url(../src/img/02e-cel375x667.png);
    height: 101vh;
  }
  main .hero-container .background-container h1 {
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
    width: 400px;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 2.8rem;
    margin-top: 1.5rem;
    height: 3rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 3.7rem;
    padding-top: 0.6rem;
    padding-left: 1rem;
    height: 1rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 4.5rem;
    padding-left: 0;
  }
  main .hero-container .background-container .hero-paragraph {
    margin-left: 1.8rem;
    font-size: 1rem;
    width: 300px;
    line-height: 1.5rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    height: 3rem;
    width: 8rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
  main .hero-container .background-container .hero-pinkboton .hero-textboton {
    font-size: 0.9rem;
    margin: 0.6rem auto;
  }
}
@media (max-width: 420px) and (min-width: 362px) {
  main .hero-container .background-container {
    background-image: url(../src/img/02e-cel375x667.png);
    height: 101vh;
  }
  main .hero-container .background-container h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    width: 400px;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 2rem;
    margin-top: 1.4rem;
    height: 2rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 2.8rem;
    padding-top: 0.6rem;
    padding-left: 0.5rem;
    height: 1rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 4rem;
    padding-left: 0;
  }
  main .hero-container .background-container .hero-paragraph {
    margin-left: 1.8rem;
    font-size: 1rem;
    width: 300px;
    line-height: 1.5rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
  main .hero-container .background-container .hero-pinkboton .hero-textboton {
    font-size: 0.9rem;
    margin: 0.6rem auto;
  }
}
@media (max-width: 360px) {
  main .hero-container .background-container {
    background-image: url(../src/img/02e-cel375x667.png);
    height: 100.8vh;
  }
  main .hero-container .background-container h1 {
    margin-top: 0.7em;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    width: 400px;
  }
  main .hero-container .background-container h1 .letter-unsere {
    font-size: 2rem;
    margin-top: 1.4rem;
    height: 2rem;
  }
  main .hero-container .background-container h1 .letter-kinder {
    font-size: 2.8rem;
    padding-top: 0.6rem;
    padding-left: 0.5rem;
    height: 1rem;
  }
  main .hero-container .background-container h1 .letter-welt {
    font-size: 4rem;
    padding-left: 0;
  }
  main .hero-container .background-container .hero-paragraph {
    margin-left: 1.8rem;
    font-size: 1rem;
    width: 300px;
    line-height: 1.5rem;
  }
  main .hero-container .background-container .hero-pinkboton {
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
  main .hero-container .background-container .hero-pinkboton .hero-textboton {
    font-size: 0.9rem;
    margin: 0.6rem auto;
  }
}
.items-principal {
  width: 60vw;
  margin: 4rem auto;
  text-align: center;
}
.items-principal .item01-titleprincipal {
  display: inline-block;
  background-color: whitesmoke;
  font-size: clamp(1.8rem, 4vw, 4rem);
  color: #2f1c3a;
  margin-bottom: 1rem;
}
.items-principal .item02-titleprincipal {
  font-size: clamp(1.1rem, 2vw, 2rem);
  color: #2f1c3a;
  line-height: clamp(1.2rem, 4vw, 3.2rem);
}
.items-principal .item02-titleprincipal span {
  background-color: white;
}

.container-fähigkeiten {
  width: 80vw;
  margin: auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
}
.container-fähigkeiten img {
  justify-content: center;
  width: 80vw;
}

.subtitles {
  width: 100%;
  display: flex;
  justify-content: center;
}
.subtitles .grid-subtitle01 {
  width: 90vw;
  display: flex;
  margin: 2rem auto 1rem auto;
  align-items: center;
  justify-content: center;
  gap: 5%;
  box-sizing: border-box;
}
.subtitles .grid-subtitle01 .subtitle01-itemh2 {
  width: auto;
  box-sizing: border-box;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
.subtitles .grid-subtitle01 .subtitle01-itemh2 .item01 {
  margin-bottom: 0.25rem;
  color: #80BAB4;
}
.subtitles .grid-subtitle01 .subtitle01-itemh2 .item02 {
  margin-bottom: 0.25rem;
  color: #7489c4;
}
.subtitles .grid-subtitle01 .subtitle01-itemh2 .item03 {
  color: #7489c4;
}
.subtitles .grid-subtitle01 .subtitle01-itemh3 {
  width: auto;
  box-sizing: border-box;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.section-cards {
  margin: 3rem auto 4rem auto;
  width: clamp(20rem, 80vw, 100rem);
  box-sizing: border-box;
}
.section-cards .grid-cards {
  width: clamp(20rem, 80vw, 100rem);
  height: 50h;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: clamp(1rem, 7vw, 7rem);
       column-gap: clamp(1rem, 7vw, 7rem);
  row-gap: clamp(1rem, 2vh, 5rem);
}
.section-cards .grid-cards .card01-items {
  background-color: #80BAB4;
  border-radius: 1.5rem;
  width: clamp(12.5rem, 20vw, 20rem);
  height: calc(1.6 * clamp(12.5rem, 18vw, 18rem));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-cards .grid-cards .card01-items .card01-item01 {
  color: #80BAB4;
  background-color: whitesmoke;
  width: clamp(4rem, 10vw, 10rem);
  border-radius: 0.9vw;
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
  font-weight: 700;
  margin-top: clamp(1rem, 2vh, 2rem);
  display: flex;
  justify-content: center;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
}
.section-cards .grid-cards .card01-items .card01-item02 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card01-items .card01-item02 .hour {
  color: #80BAB4;
}
.section-cards .grid-cards .card01-items .card01-item03 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card01-items .card01-item03 .hour {
  color: #80BAB4;
}
.section-cards .grid-cards .card01-items .card01-item04 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2vh, 2rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card01-items .card01-item04 .hour {
  color: #80BAB4;
}
.section-cards .grid-cards .card01-items a {
  width: clamp(6rem, 11vw, 11rem);
  height: 2rem;
  color: black;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: clamp(1rem, 2vh, 2rem);
  text-decoration: none;
}
.section-cards .grid-cards .card02-items {
  background-color: #FCBD5B;
  border-radius: 1.5rem;
  width: clamp(12.5rem, 20vw, 20rem);
  height: calc(1.6 * clamp(12.5rem, 18vw, 18rem));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-cards .grid-cards .card02-items .card02-item01 {
  color: #FCBD5B;
  background-color: whitesmoke;
  width: clamp(4rem, 10vw, 10rem);
  border-radius: 0.9vw;
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
  font-weight: 700;
  margin-top: clamp(1rem, 2vh, 2rem);
  display: flex;
  justify-content: center;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
}
.section-cards .grid-cards .card02-items .card02-item02 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card02-items .card02-item02 .hour {
  color: #FCBD5B;
}
.section-cards .grid-cards .card02-items .card02-item03 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card02-items .card02-item03 .hour {
  color: #FCBD5B;
}
.section-cards .grid-cards .card02-items .card02-item04 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2vh, 2rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card02-items .card02-item04 .hour {
  color: #FCBD5B;
}
.section-cards .grid-cards .card02-items a {
  width: clamp(6rem, 11vw, 11rem);
  height: 2rem;
  color: black;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: clamp(1rem, 2vh, 2rem);
  text-decoration: none;
}
.section-cards .grid-cards .card03-items {
  background-color: #7489c4;
  border-radius: 1.5rem;
  width: clamp(12.5rem, 20vw, 20rem);
  height: calc(1.6 * clamp(12.5rem, 18vw, 18rem));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-cards .grid-cards .card03-items .card03-item01 {
  color: #7489c4;
  background-color: whitesmoke;
  width: clamp(4rem, 10vw, 10rem);
  border-radius: 0.9vw;
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
  font-weight: 700;
  margin-top: clamp(1rem, 2vh, 2rem);
  display: flex;
  justify-content: center;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
}
.section-cards .grid-cards .card03-items .card03-item02 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card03-items .card03-item02 .hour {
  color: #7489c4;
}
.section-cards .grid-cards .card03-items .card03-item03 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2.5vh, 3rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card03-items .card03-item03 .hour {
  color: #7489c4;
}
.section-cards .grid-cards .card03-items .card03-item04 {
  background-color: whitesmoke;
  width: clamp(9rem, 15vw, 14rem);
  height: calc(0.3 * clamp(9rem, 15vw, 14rem));
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  margin-bottom: clamp(1rem, 2vh, 2rem);
  row-gap: clamp(0.1rem, 0.3vw, 0.5rem);
}
.section-cards .grid-cards .card03-items .card03-item04 .hour {
  color: #7489c4;
}
.section-cards .grid-cards .card03-items a {
  width: clamp(6rem, 11vw, 11rem);
  height: 2rem;
  color: black;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: clamp(1rem, 2vh, 2rem);
  text-decoration: none;
}

.reviews-seccion {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  gap: clamp(1rem, 1.5vw, 2rem);
}
.reviews-seccion .reviews-container {
  width: clamp(10rem, 45vw, 65rem);
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.reviews-seccion .reviews-container .mother-image {
  width: clamp(15rem, 18vw, 18rem);
}
.reviews-seccion .reviews-container .rewiews-paragraph {
  width: clamp(25rem, 40vw, 45rem);
}
.reviews-seccion .reviews-container .rewiews-paragraph .paragraph {
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  font-weight: 600;
}
.reviews-seccion .reviews-container .rewiews-paragraph .circles {
  background-image: url(../../../src/img/unsereprojekt/3points.svg);
  background-repeat: no-repeat;
  background-size: clamp(1.5rem, 2vw, 3.5rem);
  height: calc(1.03 * clamp(1.2rem, 2vw, 3.5rem));
  width: calc(1.12 * clamp(1.5rem, 2vw, 3.5rem));
  margin: 2rem auto 0 auto;
}
.reviews-seccion .reviews-title {
  width: clamp(14rem, 25vw, 40rem);
  height: clamp(5rem, 25vh, 20rem);
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
}
.reviews-seccion .reviews-title .reviews-title-item01 {
  font-size: clamp(0.8rem, 2.5vw, 3rem);
  font-weight: 700;
  color: #F08D8F;
}
.reviews-seccion .reviews-title .reviews-title-item02 {
  font-size: clamp(0.8rem, 2.5vw, 3rem);
  font-weight: 700;
  color: #F08D8F;
}
.reviews-seccion .reviews-title .reviews-title-item03 {
  font-size: clamp(0.8rem, 2.5vw, 3rem);
  font-weight: 700;
  color: #7489c4;
}

@media (max-width: 899px) and (min-width: 300px) {
  .reviews-seccion {
    display: flex;
    flex-direction: column-reverse;
    height: 16rem;
    width: auto;
    margin: 1rem 0 1rem 0;
    gap: 0rem;
  }
  .reviews-seccion .reviews-container {
    min-height: 4rem;
    max-height: 10rem;
    width: clamp(30rem, 70vw, 50rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .reviews-seccion .reviews-container .mother-image {
    width: clamp(6rem, 17vw, 17rem);
  }
  .reviews-seccion .reviews-container .rewiews-paragraph {
    width: clamp(7rem, 45vw, 45rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reviews-seccion .reviews-container .rewiews-paragraph .paragraph {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  .reviews-seccion .reviews-container .rewiews-paragraph .circles {
    background-image: url(../../../src/img/unsereprojekt/3points.svg);
    background-repeat: no-repeat;
    background-size: clamp(1.5rem, 2vw, 3.5rem);
    height: calc(1.03 * clamp(1.2rem, 2vw, 3.5rem));
    width: calc(1.12 * clamp(1.5rem, 2vw, 3.5rem));
    margin: 0 1rem 0 0;
  }
  .reviews-seccion .reviews-title {
    width: 25rem;
    height: auto;
    display: block;
    text-align: center;
    justify-content: center;
  }
  .reviews-seccion .reviews-title .reviews-title-item01 {
    font-size: clamp(1.7rem, 2.5vw, 3rem);
  }
  .reviews-seccion .reviews-title .reviews-title-item02 {
    font-size: clamp(1.7rem, 2.5vw, 3rem);
  }
  .reviews-seccion .reviews-title .reviews-title-item03 {
    font-size: clamp(1.7rem, 2.5vw, 3rem);
  }
}
@media (max-width: 450px) and (min-width: 300px) {
  .reviews-seccion {
    padding-top: 1rem;
    height: 22rem;
  }
  .reviews-seccion .reviews-container {
    margin-top: 1rem;
  }
  .reviews-seccion .reviews-title {
    display: flex;
    margin-left: 0rem;
  }
}
@media (max-width: 375px) and (min-width: 300px) {
  .reviews-seccion {
    height: 23rem;
    padding-top: 0rem;
  }
  .reviews-title {
    margin-bottom: 2rem;
  }
}
.footer-nav {
  background-color: #7489c4;
}
.footer-nav .footer-items {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  margin: 0 2rem 0 2rem;
  height: 18vh;
  width: 100vw;
}
.footer-nav .footer-items .footer-logo {
  grid-column: 1/2;
}
.footer-nav .footer-items .footer-logo img {
  width: 14rem;
}
.footer-nav .footer-items .footer-partleft {
  align-items: center;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  color: #2f1c3a;
  text-align: center;
  font-size: 1.1rem;
}
.footer-nav .footer-items .footer-partleft .footer-item01 {
  grid-column: 1/2;
  display: grid;
  gap: 0.5rem;
}
.footer-nav .footer-items .footer-partleft .footer-item01 .footer-item01-a {
  color: #2f1c3a;
}
.footer-nav .footer-items .footer-partleft .footer-item02 {
  grid-column: 2/3;
  display: grid;
  gap: 0.5rem;
}
.footer-nav .footer-items .footer-partleft .footer-item02 .footer-item02-a {
  color: #2f1c3a;
}
.footer-nav .footer-items .footer-partleft .footer-item03 {
  grid-column: 3/4;
  display: grid;
  gap: 0.5rem;
}
.footer-nav .footer-items .footer-partleft .footer-item03 .footer-item03-a {
  color: #2f1c3a;
}
.footer-nav .footer-items .footer-partleft .footer-item04 {
  grid-column: 4/5;
  display: grid;
  gap: 0.5rem;
}
.footer-nav .footer-items .footer-partleft .footer-item04 .footer-item04-a {
  color: #2f1c3a;
}
.footer-nav .footer-items .footer-partleft .footer-item04 .footer-item04-links .footer-item04-b img {
  height: 2rem;
  width: 2rem;
  margin-right: 1.5rem;
}
.footer-nav .footer-items .footer-partleft .footer-item04 .footer-item04-links .footer-item04-c img {
  height: 2rem;
  width: 2rem;
}

.footer-end {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: #7489c4;
  font-size: 0.9rem;
  color: #2f1c3a;
  height: 5vh;
  width: 100vw;
}
.footer-end p {
  font-weight: 600;
  margin-left: 2rem;
}
.footer-end .footer-end-links {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

@media (max-width: 1600px) and (min-width: 1300px) {
  .footer-container {
    height: 20vh;
  }
  .footer-container .footer-partleft {
    margin: 0 5rem 0 5rem;
  }
}
@media (max-width: 1299px) and (min-width: 1000px) {
  .footer-container {
    height: 48vh;
  }
  .footer-container .footer-items {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 30% 50%;
  }
  .footer-container .footer-items .footer-logo {
    margin-top: 7rem;
    grid-row: 1/2;
  }
  .footer-container .footer-items .footer-partleft {
    margin-top: 7rem;
    grid-row: 2/4;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    row-gap: 3rem;
  }
  .footer-container .footer-items .footer-partleft .footer-item01 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer-container .footer-items .footer-partleft .footer-item02 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer-container .footer-items .footer-partleft .footer-item03 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .footer-container .footer-items .footer-partleft .footer-item04 {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}
@media (max-width: 999px) and (min-width: 601px) {
  .footer-nav {
    height: 45vh;
  }
  .footer-nav .footer-container .footer-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 0 0 2rem;
  }
  .footer-nav .footer-container .footer-items .footer-logo {
    margin-top: 1rem;
  }
  .footer-nav .footer-container .footer-items .footer-partleft {
    align-items: normal;
    text-align: left;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 2rem;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    margin-top: 1rem;
  }
  .footer-nav .footer-container .footer-items .footer-partleft .footer-item01 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer-nav .footer-container .footer-items .footer-partleft .footer-item02 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer-nav .footer-container .footer-items .footer-partleft .footer-item03 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer-nav .footer-container .footer-items .footer-partleft .footer-item04 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer-end {
    height: 9vh;
    display: block;
    padding: 1.5rem 0 1rem 0;
    gap: 0.2rem;
  }
  .footer-end .footer-end-links {
    margin: 0 0 0 2rem;
  }
}
@media (max-width: 600px) and (min-width: 300px) {
  .footer-nav {
    height: 65vh;
  }
  .footer-nav .footer-container .footer-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1rem 0rem 1rem;
  }
  .footer-nav .footer-container .footer-items .footer-partleft {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 2.5rem;
    text-align: left;
  }
  .footer-end {
    display: block;
    height: 30vh;
    padding: 2rem 0 1rem 1rem;
    gap: 0.2rem;
  }
  .footer-end .footer-end-links {
    flex-direction: column;
    margin: 1rem 0 0rem 2rem;
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */